<div class="padded-content" [ngClass]="{'col-sm-9': route.firstChild, 'col-sm-12': !route.firstChild}">
  <div class="col-md-4" *ngFor="let contact of contacts">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{ contact.first_name }} {{ contact.last_name }}</h3>
        <p>{{ contact.email }}</p>
        <button class="btn btn-primary btn-sm btn-block">More Info</button>
      </div>
    </div>
  </div>
</div>

<div class="col-sm-3" *ngIf="route.firstChild">
  <router-outlet></router-outlet>
</div>